<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/PDF/pdf.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#Download').click(function () {
        //    window.open('/Values/Export?type=xls', '_blank', '');
        //});        
    });
</script>
<a href="/Values/Export?type=xls" id="Download">Download</a>
@*<iframe src="/Values/Export?type=xls&embeded=false"></iframe>*@